In [230]:
import pandas as pd
import numpy as np

In [231]:
train = pd.read_csv("titanic/train.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [232]:
train.drop(['PassengerId','Name','Ticket','Cabin','Embarked','SibSp','Parch'], axis = 1, inplace = True)

In [233]:
train.isnull().sum()
train["Age"].describe()
train['Age'].fillna(train['Age'].mean,inplace = True)
train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [234]:
l_sex_dummies=pd.get_dummies(train['Sex'],drop_first=True)
train= pd.concat([train,l_sex_dummies],axis=1)
train.head()
train.drop(['Sex'], axis=1, inplace=True )

In [235]:

from sklearn.preprocessing import StandardScaler
feature_scale = ['Age','Fare']
feature_scale = StandardScaler().fit_transform(feature_scale)

ValueError: could not convert string to float: 'Age'

In [ ]:
X=train.drop(['Survived'],axis=1)
y=train['Survived']
from sklearn.linear_model import LogisticRegression()
logreg = LogisticRegression()
logreg.fit(X, y)